.navbar .nav-link {
        color: white !important;
        padding: 10px;
      }      
      .navbar .nav-item {
        margin: 0 20px; 
      }
      .navbar-nav {
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 100%;
      }
.Hangman-Pic img{
  padding-top: 20px;
  user-select: none;
  height: auto; 
  width : 80%;
  max-width: 400px;
  padding : 20px;

}

.word-display{
  gap: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Game-box .Keyboard{
  display: flex;
  gap : 5px;
  flex-wrap: wrap; 
  /*Without wrap (flex-wrap: nowrap;): Flex items stay on a single line, potentially overflowing the container if there's too much content.
With wrap (flex-wrap: wrap;): Flex items will go to a new row if they can’t fit in the current one, keeping them within the container's width/height.
*/
  justify-content: center;
}
.Keyboard button{
  /*This divides the width of the parent by 7 for a grid layout and then subtracts 5 pixels to leave space for margins or padding.*/
  color: white;
  background-color: navy;
  font-size:large;
  cursor:pointer;
  border: none;
  padding: 7px;
  width: calc(100% /9 - 20px);
  font-weight: 700;
}
.Keyboard button:hover{
  background: #8286c9;
}
/* cnter the entire container */
.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.game-over-text {
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
}

.correct-word {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #6c757d; 
}

.game-over-image {
  width: 50%; 
  max-width: 300px;
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  gap: 1rem; /* space between buttons to make it look better*/
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.play-again-btn {
  background-color: #007bff !important; /* i wanted the buttons to look nicer */
}

.play-again-btn:hover {
  background-color: #0056b3 !important; 
}

.leaderboard-btn {
  background-color: #28a745 !important; 
}

.leaderboard-btn:hover {
  background-color: #1e7e34 !important; 
}