.navbar .nav-link {
        color: white !important;
        padding: 10px;
      }      
      .navbar .nav-item {
        margin: 0 20px; 
      }
      .navbar-nav {
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 100%;
      }
      
/* light theme */
body.light-theme {
  background-color: white !important;
  color: black !important;
}

/* dark theme */
body.dark-theme {
  background-color: #2c3745 !important;
  color: white !important;
}
