{{>message}}
<form method="post" action="/dictionaryword">
  <div class="mb-3">
    <h1>Word search</h1>
    <input type="text" class="form-control" id="word" name="word">
    <div id="registeracc" class="form-text">Please enter a word. 
    </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div><p1>{{test}}</p1></div>