<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Over</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="game-over-container">
    <h1 class="game-over-text">Game Over!</h1>
    <h1 id="resultMessage"></h1>
    <p class="correct-word">The correct word was: <span id="correctWord"></span></p>
    <img src="/img/hangman-6.svg" alt="Final Hangman Image" class="game-over-image">
    <div class="button-group">
      <a href="/playHangman" class="btn play-again-btn">Play Again</a>
      <a href="/leaderboard" class="btn leaderboard-btn">Leaderboard</a>
    </div>
  </div>
</body>
</html>