{{>message}}
<form method="post" action="/dictionaryword">
  <div class="mb-3"> <!--instead of styling them individually -->
    <div class="Hangman-Pic">
        <img src="img/hangman-0.svg">
    </div>
    <div id="lettersDisplay" ></div>
    <div id="guessMessage"></div>
    <div class="Game-box" style="font-size: 20px; margin-top: 10px; color: blue;">
        <div class = "Keyboard">
          <!-- make it to where keyboard typing correlates to clicking the button-->
          <!-- make it to where after guessing a letter, the button darkens and loses functionality-->
            <button type="button" onclick="checkGuess('A')">A</button>
            <button type="button" onclick="checkGuess('B')">B</button>
            <button type="button" onclick="checkGuess('C')">C</button>
            <button type="button" onclick="checkGuess('D')">D</button>
            <button type="button" onclick="checkGuess('E')">E</button>
            <button type="button" onclick="checkGuess('F')">F</button>
            <button type="button" onclick="checkGuess('G')">G</button>
            <button type="button" onclick="checkGuess('H')">H</button>
            <button type="button" onclick="checkGuess('I')">I</button>
            <button type="button" onclick="checkGuess('J')">J</button>
            <button type="button" onclick="checkGuess('K')">K</button>
            <button type="button" onclick="checkGuess('L')">L</button>
            <button type="button" onclick="checkGuess('M')">M</button>
            <button type="button" onclick="checkGuess('N')">N</button>
            <button type="button" onclick="checkGuess('O')">O</button>
            <button type="button" onclick="checkGuess('P')">P</button>
            <button type="button" onclick="checkGuess('Q')">Q</button>
            <button type="button" onclick="checkGuess('R')">R</button>
            <button type="button" onclick="checkGuess('S')">S</button>
            <button type="button" onclick="checkGuess('T')">T</button>
            <button type="button" onclick="checkGuess('U')">U</button>
            <button type="button" onclick="checkGuess('V')">V</button>
            <button type="button" onclick="checkGuess('W')">W</button>
            <button type="button" onclick="checkGuess('X')">X</button>
            <button type="button" onclick="checkGuess('Y')">Y</button>
            <button type="button" onclick="checkGuess('Z')">Z</button>
        </div>
    </div>
  </div>

