{{> header}}
<body>
  <h1>Select Difficulty Level</h1>
  <div class="button-group" id="difficulty-buttons">
    <button onclick="setDifficulty('Easy')">Easy</button>
    <button onclick="setDifficulty('Medium')">Medium</button>
    <button onclick="setDifficulty('Hard')">Hard</button>
  </div>

  <h2>Select Theme</h2>
  <div class="button-group" id="theme-buttons">
    <button onclick="setTheme('Light')">Light Theme</button>
    <button onclick="setTheme('Dark')">Dark Theme</button>
  </div>
</body>
